---
service_catalog_controller_name: "{{ service_catalog_controller_url | default(hostvars[groups['tower'][0]]['ansible_host']) | default(hostvars[groups['tower'][0]]['inventory_hostname']) }}"
tower_validate_certs: true
connector_packages:
  - rhc
  - rhc-catalog-worker
system_cert_file: "/etc/pki/consumer/cert.pem"
system_key_file: "/etc/pki/consumer/key.pem"
rhc_config_dir: "/etc/rhc"
catalog_config_dir: "{{ rhc_config_dir }}/workers"
log_level: "error"
mqtt_broker: "wss://connect.cloud.redhat.com:443"
