[ANSIBLE_TOWER]
token="{{ _service_catalog_controller_token }}"
url="https://{{ _service_catalog_controller_url }}"
verify_ssl="{{ tower_validate_certs | bool }}"
name="{{ service_catalog_controller_name }}"
uuid="{{ _service_catalog_controller_uuid }}"

[AUTH]
client_cert="{{ system_cert_file }}"
client_key="{{ system_key_file }}"

[logger]
# valid levels are error, info, debug, warn
level="{{ log_level }}"
