[ANSIBLE_TOWER]
token="{{ tower_token }}"
url="{{ tower_url }}"
verify_ssl="{{ tower_validate_certs | bool }}"
name="{{ tower_name }}"
uuid="{{ tower_uuid }}"

[AUTH]
client_cert="{{ system_cert_file }}"
client_key="{{ system_key_file }}"

[logger]
# valid levels are error, info, debug, warn
level="{{ log_level }}"
